* {
   margin: 0.3em;
   box-sizing: border-box;
}

body {
   background-color: #000;
   color: #fff;
}

h2,
h3 {
   color: blueviolet;
}

::-webkit-scrollbar {
   width: 25px;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #000;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-image: linear-gradient(45deg, orange, orangered);
}
